.hF{
  height: fit-content;
}
.pad0{
padding: 0;
}
.m0{
  margin: 0px;
}
.gap8P{
  gap: 8px;
}
.w80{
    width: 100px;
}
.fS12{
    font-size: 12px;
}
.fS14{
  font-size: 14px;
}
.positionFixed{
    position: fixed;
}
.w120{
    width: 150px;
}
.w100Pr{
    width: 100%;
}
.ml150{
  margin-left: 150px;
}
.w80Procc{
  width: 80%;
}
.H100{
  height: 100%;
}
.wFC{
  width: fit-content;
}
.gap10P{
  gap: 10px;
}
.mT50p{
  margin-top: 50px;
}
.mT10p{
  margin-top: 10px;
}
.mB100P{
  margin-bottom: 100px;
}
.mB20P{
  margin-bottom: 20px;
}
.gap15P{
  gap: 15px;
}
.w36P{
  width: 36%;
}
.backdrop{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 3;
}
.active{
    display: block;
}
.ovhHidden{
    overflow: hidden;
}
.ovhAuto{
    overflow: auto;
    max-height: 100vh;
}

.backdropInfo{
    position: fixed;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.2);
    z-index: 999;
    
  }
  .block_info{
    border-radius: 15px;
      height: 300px;
   background-color:var(--hovWithOutTransperent);/*  var --hovWithOutTransperent*/
    padding:0px 20px 0px 20px;
    width:400px;
    
  }
  .block_info_header{
    width:100%;
    height: 10%;
  }
  .block_info_header h1{
    color: var(--bordColor);
    font-size:24px;
    font-family: "Roboto", "Arial", sans-serif;
  }
  .block_info_main {
    width:100%;
    gap: 15px;
    height: 80%;
  }
  .block_info_main h1{
    color: var(--bordColor);
    font-size: 24px;
    margin-bottom:0;
    font-family: "Roboto", "Arial", sans-serif;
  }
  .subscriber, .block_info_main_video, .block_info_main_view, .block_info_main_dateCreated{
    color: var(--bordColor);
    gap:15px;
    font-family: "Roboto", "Arial", sans-serif;
  }
  .closeMoreInfoBtn{
    cursor: pointer;
    transition: 0.2s;
    padding: 5px;
    
  }
  .closeMoreInfoBtn:hover{
    transform: scale(1.1);
    border-radius: 50px;
    background-color:var(--bgcolorTransperent);
  }
@media (max-width:1300px) {
  .block_info{
    width:350px;
    height: 270px;
  }
  .block_info_header h1{
    font-size:21px;
  }
  .closeMoreInfoBtn, 
  .subscriber_svg svg,
  .block_info_main_video_svg,
  .block_info_main_video_view,
  .block_info_main_video_dateCreated,
  .block_info_main_video_svg svg, 
  .block_info_main_video_view svg, 
  .block_info_main_video_dateCreated svg {
   width: 20px;
   height: 20px;
  }
  .block_info_main h1 {
    font-size: 20px;
  }
  .subscriber_text, 
  .block_info_main_video_text, 
  .block_info_main_view_text,
  .block_info_main_dateCreated_text {
    font-size: 14px;
  }


}
@media (max-width:600px) {
  .block_info{
    width:300px;
  }
}
@media (max-width:460px) {
  .block_info{
    width:260px;
  }
}
