.dF{
    display: flex;
}
.aiC{
    align-items: center;
}
.aiS{
    align-items: start;
}
.aiE{
    align-items: end;
}
.jcC{
    justify-content: center;
}
.jcS{
    justify-content: flex-start;
}
.jcE{
    justify-content: flex-end;
}
.jcsB{
    justify-content: space-between;
}
.jcsA{
    justify-content: space-around;
}
.jcsE{
    justify-content: space-evenly;

}
.fdC{
    flex-direction: column;

}
.fdR{
    flex-direction: row !important;
}