html{
    
    --WhColor:white;
    --bordColor:#0f0f0f;
    --hovColor:rgba(0, 0, 0, 0.103); /* hover background*/
    --headerColor:rgba(212, 211, 211, 0.871) ;
    --hovSing:rgb(220, 238, 245);
    --hoverBlack:rgb(102, 102, 102, 0.103);
    --hovWithOutTransperent:rgb(250, 250, 250);
    --bgColorTransperentHover:#00000017;
    --bgcolorTransperent:#0000000e;
    --forAllTextWithSmallTransperent:#575656;
    --colorForDescriptionInProfile:rgb(242, 242, 242); /* цвет для фона описания в профиле */
    background-color: var(--WhColor);
}
html.black{
    --WhColor:#0f0f0f;
    --bordColor:white;
    --hovColor:rgba(102, 102, 102, 0.303);
    --headerColor:rgba(128, 128, 128, 0.871) ;
    --hovSing:rgba(173, 224, 245, 0.212);
    --hoverBlack:rgb(102, 102, 102, 0.303);
    --hovWithOutTransperent:rgb(53, 52, 52);
    --bgcolorTransperent:#302f2d;
    --bgColorTransperentHover:#d6d6d694;
    --forAllTextWithSmallTransperent:#ffffff91;
    --colorForDescriptionInProfile:rgb(44, 43, 41);
    background-color: var(--WhColor);
}

html.black svg path{
    fill:white
}
html.black svg path[fill="#FF0033"]{
    fill:#FF0033
}
.svgShorts{
    fill:red!important;
}
.svgLikeEnable path{
    stroke: var(--bordColor);
    fill: none !important;
    
}
.svgDisLikeEnable path{
    stroke: var(--bordColor);
    fill: none !important;
}
.Like path{
    fill:var(--forAllTextWithSmallTransperent) !important;
}
body{
    display: flex;
    flex-direction: column;
}

.wrapp-mainAside {
    display: flex;
    flex-direction: row;
    background-color: var(--WhColor);
}
