.grid{
    display: grid;
}
.gridTC5{
    grid-template-columns: repeat(5, 1fr);
}
.gridTC4{
    grid-template-columns: repeat(4, 1fr);
}
.gridTC3{
    grid-template-columns: repeat(3, 1fr);
}
.gridTC2{
    grid-template-columns: repeat(2, 1fr);
}
.gap10{
    column-gap: 10px !important;
    row-gap: 50px;
}
.gap15{
    gap:15px;
}
.Container-video-gaming {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;
}
@media (max-width:1620px) {
    .Container-video-gaming {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width:1470px) {
    .Container-video-gaming {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:1010px) {
    .Container-video-gaming {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:760px) {
    .Container-video-gaming {
        grid-template-columns: repeat(1, 1fr);
    }
}