.history-header-contain {
    width: 100%;
    z-index: 2000;
    font-family: "Roboto", "Arial", sans-serif;
    height: fit-content;
    color: var(--bordColor);
}

.history-header-inner-contain {
    padding-right: max(16px, calc(50% - 642px));
    padding-left: max(16px, calc(50% - 642px));
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}



.main-history-container {
    gap: 25px;
    flex-direction: column;
    display: flex;
    box-sizing: border-box;
    width: 66.88%;
    padding-right: max(16px, calc(50% - 642px));
    padding-left: max(16px, calc(50% - 642px));

}

.conteiner-video {
    display: flex;
    flex-direction: row;
    font-family: "Roboto", "Arial", sans-serif;
}

.video-img-conteiner {
    width: 246px;
    height: 138px;
    margin-right: 15px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.video-img-conteiner img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.overview {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-overflow: ellipsis;
    height: 165px;
    overflow: hidden;
    font-family: "Roboto", "Arial", sans-serif;

}

.nameVideo {
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--bordColor);
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;

}

.name-chanel,
.count-views,
.overview-video {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-weight: 400;
    color: var(--forAllTextWithSmallTransperent);

}

.imgProfile {
    width: 25px;
    height: 25px;
}

.imgProfile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.history-nav-menu {
    padding: 0 20px;
    overflow-y: auto;
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
}

.history-search {
    margin: 8px 0;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    height: 36px;
    font-family: inherit;
    background: transparent;
    border: none;
    border-radius: 18px;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    color: var(--bordColor);
}


.search-input-history {
    min-width: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bordColor);
}

.filter-btn {
    color: var(--bordColor);
    background-color: transparent;
    border: none;
    font-size: 14px;
    line-height: 36px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border-radius: 25px;
}

.filter-btn:hover {
    background-color: var(--hoverBlack);
}

.filter-btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.container-settings {
    display: flex;
}

.delete-video,
.options {
    height: 40px;
    width: 40px;
    cursor: pointer;
    box-sizing: border-box;
}

.delete-video svg,
.options svg {
    height: 24px;
    width: 24px;
}

.options {
    box-sizing: border-box;
    padding: 7px;
}

.delete-video {
    border-radius: 24px;
    transition: 200ms;
    padding: 8px;
    box-sizing: border-box;
}

.delete-video:hover {
    background-color: var(--hovColor);
}

.contain-name-btn {
    flex-direction: row;
    justify-content: space-between;
}

.chanel-info{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}